/* 
*
*   fonts
*
*/

h2 {
  font-family: Arial, sans-serif, "Verdana";
}
h3 {
  font-family: Verdana, Arial, sans-serif;
}
p {
  font-family: Verdana, Arial, sans-serif;
}
a {
  font-family: Verdana, Arial, sans-serif;
}
label {
  font-family: Verdana, Arial, sans-serif;
}

::placeholder {
  color: #959595;
}

a.qweasd:link {
  color: #cecece;
}
a.qweasd:visited {
  color: #cecece;
}


/* card */
.font_card  {
  font-family: Verdana, Arial, sans-serif;
  color: bisque;
}

a.link_card:link {
  color: #ffdaad;
}
a.link_card:visited {
  color: #ffdaad;
}

/**/
/**/
/**/
/**/