<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>calcularArea</title>
  <!--script-->
  <script src="js/calcularArea.js" defer></script>
  <!--css-->
  <link rel="stylesheet" type="text/css" href="../css/css.css" />
  <link rel="stylesheet" type="text/css" href="../css/fonts.css" />

</head>

<body>
  <!--navegation links-->
  <div class="div2">

    <h3>links de navegação (h3)</h3>
    <a href="../index.html">home</a>
  </div>

  <!--objective body-->
  <div class="div1">
    <div class="div1">
      <h2>Seu titulo (h2)</h2>

      <p>text (p)</p>
      <input type="text" name="" id=""/>
      <button class="button">enviar</button>
    </div>
    <div class="div2">
      <p>resultado: </p>
      <input type="text" name="text7" id="text7" placeholder="resultado">
    </div>
  </div>


</body>
</html>